
AvaloniaApp/.vs/AvaloniaApp/FileContentIndex/b6d94ccb-8283-4109-9ffe-f4c725689c23.vsidx
AvaloniaApp/.vs/AvaloniaApp/FileContentIndex/e9266967-aae4-4f57-b8b8-e43c2559dc1f.vsidx
AvaloniaApp/.vs/AvaloniaApp/FileContentIndex/dea918ed-754c-4649-b5bb-b5f12207749e.vsidx
*.vsidx

/AvaloniaApp/.vs/

/AvaloniaApp/AvaloniaGuideApp/obj
/AvaloniaApp/AvaloniaGuideApp/bin/Debug/net8.0
/AvaloniaApp/.vs/AvaloniaApp/v17/.suo
/AvaloniaApp/.vs/AvaloniaApp/v17/DocumentLayout.json
/AvaloniaApp/AvaloniaGuideApp/bin/Release/net8.0
